################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/SoonFramework.Configuration/bin
/SoonFramework.Configuration/obj
/SoonFramework.Core/bin
/SoonFramework.Core/obj
/SoonFramework.Data/bin
/SoonFramework.Data/obj
/SoonFramework.Service/bin
/SoonFramework.Service/obj
